In [454]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [455]:
data=pd.read_csv("EMOTION.csv")

In [456]:
print(data.shape)

(4207, 6)

In [457]:
data.head()

,SYSTOLIC_PRESSURE,DIASTOLIC_PRESSURE,HEART_RATE,PULSE_RATE,BLOOD_VISCOSITY,EMOTION
0,117,79,58,58,0.331735,HAPPY
1,123,77,62,62,0.307456,DEPRESSED
2,132,89,87,87,0.403348,STRESSED
3,120,81,67,67,0.338589,HAPPY
4,139,82,85,85,0.417814,STRESSED

In [458]:
data.isnull().sum()

SYSTOLIC_PRESSURE     0
DIASTOLIC_PRESSURE    0
HEART_RATE            0
PULSE_RATE            0
BLOOD_VISCOSITY       0
EMOTION               0
dtype: int64

In [459]:
data.dtypes

SYSTOLIC_PRESSURE       int64
DIASTOLIC_PRESSURE      int64
HEART_RATE              int64
PULSE_RATE              int64
BLOOD_VISCOSITY       float64
EMOTION                object
dtype: object

In [460]:
from sklearn.preprocessing import LabelEncoder
cat_var =data.dtypes.loc[data.dtypes == 'object'].index
le =LabelEncoder()
for var in cat_var:
    data[var] = le.fit_transform(data[var])

In [461]:
data.head()

,SYSTOLIC_PRESSURE,DIASTOLIC_PRESSURE,HEART_RATE,PULSE_RATE,BLOOD_VISCOSITY,EMOTION
0,117,79,58,58,0.331735,2
1,123,77,62,62,0.307456,1
2,132,89,87,87,0.403348,4
3,120,81,67,67,0.338589,2
4,139,82,85,85,0.417814,4

In [482]:
x=data[['SYSTOLIC_PRESSURE', 'DIASTOLIC_PRESSURE', 'HEART_RATE',
       'PULSE_RATE','BLOOD_VISCOSITY']]
y=data[['EMOTION']]

In [483]:
x.columns

Index(['SYSTOLIC_PRESSURE', 'DIASTOLIC_PRESSURE', 'HEART_RATE', 'PULSE_RATE',
       'BLOOD_VISCOSITY'],
      dtype='object')

In [484]:
y.columns

Index(['EMOTION'], dtype='object')

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.7,random_state=75)

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(xtrain,ytrain)

In [ ]:
predicted_train = model.predict(xtrain)
truevalue = ytrain

In [ ]:
from sklearn.metrics import accuracy_score
print("Train Accuracy {:.2%}".format(accuracy_score(truevalue,predicted_train)))

In [489]:
xtrain.shape

(1262, 5)

In [470]:
xtest.shape

(3366, 4)

In [471]:
ytrain.shape

(841, 1)

In [472]:
ytest.shape

(3366, 1)